# Python virtual environment
.venv/

# Environment variables and secret keys
.env

# Python cache files
__pycache__/
*.pyc
.pytest_cache/
.coverage
htmlcov/

# Database file
database.db
test*.db

# Uploaded audio and video files
uploads/